#cert {
    background-color: aliceblue;
width: 100%;
}
#certform {
    margin: auto;
    display: table;
}
#certbutton {
    background-color: #449afc;
    margin-leftt: 100%;
}

#headpage {
    height: 20%;
}
.validated FormControl:invalid{
    border-color: red;
}