.navbar,
navbar-default {
    color: 'white';
    background-color: #216EB1;
    max-height: 150px;
    padding: 15px;
    width: 100%;
    font-family: "Open Sans", serif;
}

.header{
  width: 100%;
  margin-top: 0;
  padding-bottom: 10px;
}
.navLink{
  textDecoration : 'none';
  padding-left: 20px;
  font-family: "Open Sans", serif;
  color: white;
  font-size: 20px;
  display: inline;
  padding-bottom: 0px;
}

.navLink:hover{
  text-decoration: none;
  color: white;
}

.welcome{
  font-size: 15px;
}
