.navbar,
navbar-default {
    color: 'white';
    background-color: #216EB1;
}

.navLink{
  textDecoration : 'none';
  padding-left: 20px;
  color: white;
  font-size: 20px;
}

.navLink:hover{
  text-decoration: none;
  color: white;
}

.welcome{
  font-size: 15px;
}
