.App {
 
    text-align: center;
    background-color: #b6c6e5;
    flex: 1;
    flex-direction: row;
  }
  #title{
    text-align: center;
    font-size: 40px;
  
  }
  .LastName{
    text-align: left;
    flex: 1;
    flex-direction: row;
  }
  .FirstName{
    text-align: left;
    flex: 1;
    flex-direction: row;
  }
  
  .EthAddress{
    text-align: right;
  }
  
  .Notes{
    text-align: left;
  }
  
  .Certificate{
    text-align: right;
  }
  
    